# dbt
.dbt/
dbt/eia_dbt/target/
dbt/eia_dbt/dbt_packages/
dbt/eia_dbt/__pycache__/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Airflow
logs/
data/
airflow.db
unittests.cfg

# Docker
*.log
*.pid

# IDE/editor
.vscode/
.idea/
.DS_Store
